/* General Reset */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

/* about us*/

.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 1rem;
}

.about h1 {
    margin: 0;
    font-size: 4.5rem;
    color: rgb(255, 0, 0);

}

.about p {
    width: 60%;
    margin: 0.5rem 0 0;
    font-size: 2rem;
    padding: 1.5rem 1rem;
}


